.jumbotron {
    background-color: slategrey;
    width: auto;
    height: auto;
    padding: 9px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}

.card {
    
    float: left;
}


body {
    padding-top: 10px;
    padding-bottom: 20px;
}

#wrongGuesses {
    color: red;
} 

